In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/공모전/KTH/data/
!ls

/content/drive/MyDrive/공모전/KTH/data
1_8호선_위치정보.csv  weight_logistic.csv	     지하철역.csv
9호선_위치정보.csv    가중치_물류량1.csv	     지하철역정보.csv
IC_정보.csv	      가중치_물류량2_clustering.csv  지하철정보.json
new_가중치1.csv       가중치_물류량.csv		     택배도착량.csv
tmp.csv		      지하철역2.csv		     택배발생량.csv

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
subway1_8 = pd.read_csv('1_8호선_위치정보.csv', encoding='cp949')
subway1_8

      연번  호선  고유역번호(외부역코드)      역명         위도          경도        작성일자
0      1   1           150      서울  37.553150  126.972533  1974-02-28
1      2   1           151      시청  37.563590  126.975407  1974-08-15
2      3   1           152      종각  37.570203  126.983116  1974-08-15
3      4   1           153    종로3가  37.570429  126.992095  1974-08-15
4      5   1           154    종로5가  37.570971  127.001900  1974-03-31
..   ...  ..           ...     ...        ...         ...         ...
271  272   8          2823  남한산성입구  37.451568  127.159845  1996-10-31
272  273   8          2824   단대오거리  37.445057  127.156735  1996-12-28
273  274   8          2825      신흥  37.440952  127.147590  1996-12-28
274  275   8          2826      수진  37.437575  127.140936  1996-12-28
275  276   8          2827      모란  37.433888  127.129921  1996-11-30

[276 rows x 7 columns]

In [ ]:
subway1_8 = subway1_8[['호선', '역명', '위도', '경도']]
subway1_8

     호선      역명         위도          경도
0     1      서울  37.553150  126.972533
1     1      시청  37.563590  126.975407
2     1      종각  37.570203  126.983116
3     1    종로3가  37.570429  126.992095
4     1    종로5가  37.570971  127.001900
..   ..     ...        ...         ...
271   8  남한산성입구  37.451568  127.159845
272   8   단대오거리  37.445057  127.156735
273   8      신흥  37.440952  127.147590
274   8      수진  37.437575  127.140936
275   8      모란  37.433888  127.129921

[276 rows x 4 columns]

In [ ]:
subway1_8['호선'] = subway1_8['호선'].astype('str')

<ipython-input-31-5fc42c25fbb9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subway1_8['호선'] = subway1_8['호선'].astype('str')

In [ ]:
subway1_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   호선      276 non-null    object
 1   역명      276 non-null    object
 2   위도      276 non-null    float64
 3   경도      276 non-null    float64
dtypes: float64(2), object(2)
memory usage: 8.8+ KB

In [ ]:
subway1_8.loc[:, '호선'] = subway1_8['호선'].str[:] + '호선'

<ipython-input-33-f4636439b8e5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subway1_8.loc[:, '호선'] = subway1_8['호선'].str[:] + '호선'

In [ ]:
subway1_8.head(2)

    호선  역명        위도          경도
0  1호선  서울  37.55315  126.972533
1  1호선  시청  37.56359  126.975407

In [ ]:
subway9 = pd.read_csv('9호선_위치정보.csv')
subway9.head(2)

  철도운영기관명   선명    역명          경도         위도
0   서울9호선  9호선    개화  126.798153  37.578608
1   서울9호선  9호선  김포공항  126.801058  37.562434

In [ ]:
subway9 = subway9.dropna(axis=0)

In [ ]:
subway9.drop(subway9.columns[0], axis=1, inplace=True)
subway9.rename({'선명': '호선'}, axis=1, inplace=True)
subway9 = subway9[['호선', '역명', '위도', '경도']]
subway9.head(2)

    호선    역명         위도          경도
0  9호선    개화  37.578608  126.798153
1  9호선  김포공항  37.562434  126.801058

In [ ]:
subway = pd.concat([subway1_8, subway9], axis=0)
subway

     호선    역명         위도          경도
0   1호선    서울  37.553150  126.972533
1   1호선    시청  37.563590  126.975407
2   1호선    종각  37.570203  126.983116
3   1호선  종로3가  37.570429  126.992095
4   1호선  종로5가  37.570971  127.001900
..  ...   ...        ...         ...
24  9호선   신논현  37.504598  127.025060
25  9호선    언주  37.507287  127.033868
26  9호선   선정릉  37.510980  127.043593
27  9호선  삼성중앙  37.513011  127.053282
28  9호선   봉은사  37.514219  127.060245

[305 rows x 4 columns]

In [ ]:
subway.to_csv('1_9호선_위치정보.csv', encoding='utf-8', index=False)

In [95]:
ic_loc = pd.read_csv('IC_정보.csv', encoding='cp949')
ic_loc.head(2)

      IC/JC코드 IC/JC명  노선코드  노선명        X좌표값       Y좌표값  Unnamed: 6
0  0010I00001   구서IC    10  경부선  129.097620  35.250710         NaN
1  0010I00003   양산IC    10  경부선  129.053314  35.378218         NaN

In [96]:
ic_loc[ic_loc['IC/JC명'] == '구서IC']

       IC/JC코드 IC/JC명  노선코드  노선명        X좌표값       Y좌표값  Unnamed: 6
0   0010I00001   구서IC    10  경부선  129.097620  35.250710         NaN
41  0010I90052   구서IC    10  경부선  129.099172  35.250426         NaN

In [91]:
ic_loc = ic_loc[['IC/JC명', 'X좌표값', 'Y좌표값']]
ic_loc.head(2)

  IC/JC명        X좌표값       Y좌표값
0   구서IC  129.097620  35.250710
1   양산IC  129.053314  35.378218

In [92]:
ic_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IC/JC명  413 non-null    object
 1   X좌표값    413 non-null    float64
 2   Y좌표값    413 non-null    float64
dtypes: float64(2), object(1)
memory usage: 9.8+ KB

In [93]:
ic_loc = ic_loc[ic_loc['IC/JC명'].str[-2:] == 'IC']
ic_loc.head(2)

  IC/JC명        X좌표값       Y좌표값
0   구서IC  129.097620  35.250710
1   양산IC  129.053314  35.378218

In [94]:
ic_loc['IC/JC명'].value_counts()

구서IC       2
울산IC       2
상일IC       2
서하남IC      2
송파IC       2
          ..
서의성IC      1
북의성IC      1
청송IC       1
동청송영양IC    1
한림IC       1
Name: IC/JC명, Length: 281, dtype: int64

In [ ]:
ic_loc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 323 entries, 0 to 408
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IC/JC명  323 non-null    object
 1   X좌표값    323 non-null    float64
 2   Y좌표값    323 non-null    float64
dtypes: float64(2), object(1)
memory usage: 10.1+ KB

In [ ]:
ic_loc.rename({'IC/JC명': 'IC명', 'X좌표값': '경도', 'Y좌표값': '위도'}, axis=1,
              inplace=True)
ic_loc = ic_loc[['IC명', '위도', '경도']]
ic_loc.head(2)

    IC명         위도          경도
0  구서IC  35.250710  129.097620
1  양산IC  35.378218  129.053314

In [ ]:
subway.head(2)

    호선  역명        위도          경도
0  1호선  서울  37.55315  126.972533
1  1호선  시청  37.56359  126.975407

In [ ]:
ic_loc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 323 entries, 0 to 408
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IC명     323 non-null    object
 1   위도      323 non-null    float64
 2   경도      323 non-null    float64
dtypes: float64(2), object(1)
memory usage: 10.1+ KB

In [ ]:
print(ic_loc[ic_loc['IC명'] == '여주IC'])
print(ic_loc[ic_loc['IC명'] == '남안성IC'])

      IC명         위도         경도
224  여주IC  37.252144  127.65425
       IC명         위도          경도
166  남안성IC  36.975677  127.246202

In [ ]:
ic_loc.loc[ic_loc['IC명'] == '여주IC', '경도']

224    127.65425
Name: 경도, dtype: float64

In [ ]:
ic = ic_loc[(ic_loc['경도'] <= 127.65425) & (ic_loc['위도'] >= 36.975677)]
ic

        IC명         위도          경도
23     안성IC  36.994219  127.156069
24     오산IC  37.142691  127.086371
25     기흥IC  37.223075  127.102657
26   수원신갈IC  37.266266  127.105614
27   대왕판교IC  37.409462  127.091972
..      ...        ...         ...
364    가좌IC  37.484929  126.675401
365   서인천IC  37.520857  126.681272
366    부평IC  37.524491  126.722980
367    부천IC  37.524907  126.778256
388   북오산IC  37.182843  127.059048

[94 rows x 3 columns]

In [ ]:
ic.to_csv('IC정보.csv', encoding='utf-8', index=False)

In [89]:
ic

        IC명         위도          경도
23     안성IC  36.994219  127.156069
24     오산IC  37.142691  127.086371
25     기흥IC  37.223075  127.102657
26   수원신갈IC  37.266266  127.105614
27   대왕판교IC  37.409462  127.091972
..      ...        ...         ...
364    가좌IC  37.484929  126.675401
365   서인천IC  37.520857  126.681272
366    부평IC  37.524491  126.722980
367    부천IC  37.524907  126.778256
388   북오산IC  37.182843  127.059048

[94 rows x 3 columns]