In [1]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd /content/drive/MyDrive/공모전/KTH
!ls

/content/drive/MyDrive/공모전/KTH
data_draw_korea.csv		    지하철역2.csv
data_store.ipynb		    지하철역.csv
Seoul_South_Korea_location_map.svg  지하철역정보.csv
subway_store.ipynb		    지하철정보.json
Untitled0.ipynb			    지하철정보_통합.ipynb
가중치_물류량1.csv		    택배도착량.csv
가중치_물류량2_clustering.csv	    택배발생량.csv
가중치_물류량.csv

In [9]:
import pandas as pd
import numpy as np
import json

In [12]:
delivery = pd.read_csv('가중치_물류량.csv')
delivery2 = pd.read_csv('가중치_물류량1.csv')
delivery3 = pd.read_csv('가중치_물류량2_clustering.csv')

In [13]:
delivery

      구분    개별_가중치_물류량  cluster3_가중치_물류량  cluster4_가중치_물류량
0    송파구  2.728057e+07        27280566.0      2.728057e+07
1    강남구  2.598523e+07        26502514.0      2.650251e+07
2    강서구  2.148681e+07        23643868.0      2.364387e+07
3    성북구  1.728659e+07        15527095.5      1.725578e+07
4    마포구  1.444865e+07        13889272.5      1.543561e+07
5    금천구  1.236428e+07        12587898.0      1.398935e+07
6    성동구  1.089004e+07        11604933.0      1.289695e+07
7    서초구  1.030447e+07        11197660.5      1.244433e+07
8   영등포구  9.721696e+06        10781713.5      9.581349e+06
9   동대문구  8.600974e+06         6632463.0      8.841073e+06
10   구로구  7.804808e+06         6217953.0      8.288531e+06
11   용산구  7.754127e+06         6190944.0      8.252528e+06
12   관악구  7.531271e+06         6071239.0      8.092962e+06
13   중랑구  7.382261e+06         5990325.0      7.985103e+06
14   노원구  7.178990e+06         5878777.0      7.836410e+06
15   강동구  7.088354e+06         5828592.0      7.769513e+06
16    중구  6.785721e+06         5658953.0      7.543384e+06
17   광진구  6.740785e+06         5633485.0      7.509436e+06
18   양천구  6.465961e+06         5476088.0      7.299625e+06
19   은평구  6.003151e+06         5204325.0      6.937365e+06
20   동작구  5.644697e+06         4987602.0      4.987602e+06
21   도봉구  4.950664e+06         4550659.0      4.550659e+06
22  서대문구  4.412956e+06         4194272.0      4.194272e+06
23   종로구  3.864502e+06         3811981.0      3.811981e+06
24   강북구  3.674677e+06         3674677.0      3.674677e+06

In [48]:
subway_info = pd.read_csv('지하철역정보.csv')
subway_info

      호선           역명        역주소
0    2호선           봉천  서울특별시 관악구
1    1호선           서울   서울특별시 중구
2    1호선           시청   서울특별시 중구
3    1호선           종각  서울특별시 종로구
4    1호선         종로3가  서울특별시 종로구
..   ...          ...        ...
283  9호선         송파나루  서울특별시 송파구
284  9호선         한성백제  서울특별시 송파구
285  9호선  올림픽공원(한국체대)  서울특별시 송파구
286  9호선         둔촌오륜  서울특별시 강동구
287  9호선       중앙보훈병원  서울특별시 강동구

[288 rows x 3 columns]

In [16]:
subway_info['역주소'] = subway_info['역주소'].str[6:]
subway_info

      호선           역명  역주소
0    2호선           봉천  관악구
1    1호선           서울   중구
2    1호선           시청   중구
3    1호선           종각  종로구
4    1호선         종로3가  종로구
..   ...          ...  ...
283  9호선         송파나루  송파구
284  9호선         한성백제  송파구
285  9호선  올림픽공원(한국체대)  송파구
286  9호선         둔촌오륜  강동구
287  9호선       중앙보훈병원  강동구

[288 rows x 3 columns]

In [42]:
data = json.load(open('지하철정보.json'))
info_df = pd.DataFrame(data['DATA'])
info_df

,line_num,station_nm_chn,station_cd,station_nm_jpn,station_nm_eng,station_nm,fr_code
0,02호선,龍踏,0244,龍踏,Yongdap,용답,211-1
1,02호선,新踏,0245,新踏,Sindap,신답,211-2
2,02호선,龍頭,0250,龍頭,Yongdu,용두,211-3
3,03호선,Hangnyeoul,0336,ハンニョウル,Hangnyeoul,학여울,346
4,04호선,三角地,0428,三角地,Samgakji,삼각지,428
...,...,...,...,...,...,...,...
763,01호선,東廟,0159,東廟前,Dongmyo,동묘앞,127
764,02호선,喜鵲山,0200,カチ山,Kkachisan,까치산,234-4
765,02호선,市廳,0201,市廳,City Hall,시청,201
766,02호선,乙支路入口,0202,乙支路入口,Euljiro 1(il)-ga,을지로입구,202
767,경의선,大谷,0300,大谷,Daegok,대곡,K322

In [43]:
info_df = info_df[['line_num', 'station_nm', 'station_cd']]

In [44]:
info_df = info_df.rename({'line_num': '호선', 'station_nm': '역명',
      'station_cd': '역사코드'}, axis=1).sort_values('호선').reset_index(drop=True)
info_df

       호선        역명  역사코드
0    01호선       도봉산  1903
1    01호선       영등포  1006
2    01호선       동두천  1915
3    01호선     동두천중앙  1913
4    01호선        지행  1912
..    ...       ...   ...
763   인천선        계양  3110
764   인천선     인천대입구  3136
765   인천선      부평시장  3119
766   인천선     간석오거리  3123
767   인천선  송도달빛축제공원  3139

[768 rows x 3 columns]

In [46]:
merge_data = pd.merge(info_df, subway_info, on='역명',
                      how='inner')
merge_data

      호선_x    역명  역사코드 호선_y  역주소
0     01호선   도봉산  1903  7호선  도봉구
1     07호선   도봉산  2712  7호선  도봉구
2     01호선    석계  1018  6호선  노원구
3     06호선    석계  2645  6호선  노원구
4     01호선    창동  1022  4호선  도봉구
..     ...   ...   ...  ...  ...
308   09호선  송파나루  4134  9호선  송파구
309   09호선  한성백제  4135  9호선  송파구
310   09호선   선정릉  4127  9호선  강남구
311  수인분당선   선정릉  1850  9호선  강남구
312   09호선  삼성중앙  4128  9호선  강남구

[313 rows x 5 columns]